<!DOCTYPE html>
<html lang="en">
<%- include('common/head', head); %>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <%- include('common/menu', menu); %>
        <%- include('common/topNavigation', menu); %>
        <div class="right_col" role="main">
          <%- include('common/main', main); %>
        </div>
        <%- include('common/foot', foot); %>
      </div>
    </div>
    <%- include('common/script', head); %>

  </body>
</html>